@page
@model IndexModel
@{ 
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Greeting</h1>
</div>


<div>
    <h3>Employee Report</h3>
    

   
    @foreach (var employee in Model.Employees)
    {
        <div class="card m-5">
            <div class="card-header text-danger">
                @employee.ID
            </div>
            <div class="card-body">
                @employee.LastName, @employee.FirstName since @employee.HireDate.Year
            </div>
            <div class="card-footer">
                <a asp-page="/Employees/Detail"
                   asp-route-employeeId="@employee.ID" class="btn btn-secondary">
                    Details
                </a>
                <a asp-page="/Employees/Edit"
                   asp-route-employeeId="@employee.ID" class="btn btn-secondary">
                    Edit
                </a>
            </div>
        </div>
    }



                
    
</div>
<div>
    The total number of employees is: <em>@Model.Employees.Count()</em>
</div>
