@page "{employeeId}"
@model Employees.Web.Pages.Employees.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form method="post">

    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="@Model.Employee.FirstName"></label>
        <input class="form-control form-control-lg"
               asp-for="@Model.Employee.FirstName" />
        <span asp-validation-for="@Model.Employee.FirstName"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Employee.LastName"></label>
        <input class="form-control" asp-for="@Model.Employee.LastName" />
        <span asp-validation-for="@Model.Employee.LastName"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Employee.HireDate"></label>
        <input class="form-control" asp-for="@Model.Employee.HireDate" />
        <span asp-validation-for="@Model.Employee.HireDate"></span>
    </div>


    <input type="submit" name="Save" value="Save" class="btn btn-primary" />
    <a asp-page="/Index" class="btn btn-danger">Cancel</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

